# Netlify / Vercel ortam değişkenleri (Dashboard → Environment variables)
# .env dosyasını ASLA GitHub'a koyma

NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SECRET_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

DIRECT_URL=
DATABASE_URL=

APP_SIFRE=
SESSION_SECRET=
